---
title: 分类
description:
---

<ul class="tag_box inline">
{{# categories }}
  {{> categories_list }}
{{/ categories }}
</ul>

{{# categories }}
  <h2>{{ name }} ({{ count }})</h2>
  <ul>
    {{# posts?to_posts }}
      {{> posts_list }}
    {{/ posts?to_posts }}
  </ul>
{{/ categories }}