---
title: 首页
description:
---

<h2>最近更新</h2>

{{# posts_latest }}
<div class="post">
  <h3 class="title"><a href="{{url}}">{{title}}</a></h3>
  <small>{{ date }}</small>

  {{{ summary }}}

  <div class="more">
    <a href="{{url}}" class="btn pure-button pure-button-primary">read more..</a>
  </div>
</div>
{{/ posts_latest }}
